@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
.cricket-description-container{
    border-style:solid;
    border-width:4px;
    border-color:#00203f;
    border-radius:6px;
    background-color:#adf0d1;
    text-align: right;
    color:#00203f;
}
.heading{
    color:#00203f;
    font-family:"Roboto";
}
p{
    font-family:"Roboto";
}