
.my-container {
    border-style: solid;
    border-width: 3px;
    border-color: blue;
}
.box {
    background-color: lightblue;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}
.width-in-px {
    width: 300px;
}
.width-in-percent {
    width: 50%;
}
